<ng-container *ngIf="cartitems$ | async as cartitems; else empty">
    <ng-container *ngIf="cartitems && cartitems.length > 0; else empty">
        <table class="table">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Item</th>
                    <th>Snapshot</th>
                    <th>Count</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cartData of cartitems trackBy: trackByFn">
                    <td style="text-align: center;">{{cartData.itemData.category}}</td>
                    <td style="text-align: center;">{{cartData.itemData.imageTitle}}</td>
                    <td style="text-align: center;"><img height="50" width="50" [src]="cartData.itemData.imageUrl" /></td>
                    <td style="text-align: center;">{{cartData.count}}</td>
                    <td style="text-align: center;">
                        <button mat-fab color="accent" (click)="remove(cartData.itemData)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="display:flex;flex-direction:row-reverse;">
            <button mat-raised-button color="accent" style="margin-right:10px;">Check Out</button>
        </div>
    </ng-container>
</ng-container>
<ng-template #empty>No Items in Cart.</ng-template>