.item-card {
    margin-top:5px;
}

mat-card img {
    object-fit: cover;
    /*this makes the image in src fit to the size specified below*/
    max-width: 600px;
    /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    max-height: 150px;
}