<mat-toolbar color="accent">
    <span>Sample eCommerce App.</span>
    <ng-container *ngIf="page === 'cart'">
        <span fxFlex></span>
        <button mat-button routerLink="/">
            <mat-icon>home</mat-icon>
        </button>
    </ng-container>

    <ng-container *ngIf="page != 'cart'">
        <app-global-search fxFlex></app-global-search>
        <mat-chip-list>
            <mat-chip (click)="navigateToCart()" style="cursor: pointer;">
                {{cartCount$ | async}}
                <mat-icon>shopping_cart</mat-icon>
            </mat-chip>
        </mat-chip-list>
    </ng-container>
</mat-toolbar>